{% extends "base.html" %} 
{% block title %}Homepage{% endblock %} 
{% block body %} 
    <div class="row row-cols-1 row-cols-md-2">
        {% for driver in value %}
        <div class="col mb-4">
            <div class="card" style="width: 18rem;">
                <img src="checo.png" class="card-img-top" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">{{driver}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
            </div>
        </div>
        {% endfor %} 
{% endblock %} 
